body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#ebuttons{
	text-align: center;
}
.ebutton{
	color:white;
	margin: 5px;
	margin-left: 20px;
	padding:5px ;
	height: 20px;
	border-radius: 5px;
	border: 6px;
	border-color: black;
	background-color: #000066;
	display: inline-block;
}
.hover{
	color:gray;
}
#description{
	margin-top: 50px;
	font-size: .8em;
	display: inline-block;
	width: 200px;
	vertical-align: top;
}
.chart{
	display:inline-block;
}

.hidden{
	display:none;
}

.unclick{
	opacity: .5;
}

#prev{
	display: inline-block;
	height: 25px;
	width: 50px;
	background-position: center bottom;
	background-image: url(../images/backarrow.png);
	background-size: 100% 100%;
}

#next{
	display: inline-block;
	height: 25px;
	width: 50px;
	background-position: center bottom;
	background-image: url(../images/forwardarrow.png);
	background-size: 100% 100%;
}
#buttons{
	padding-left: 420px;
}