body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}

#description{
	margin-top: 50px;
	display: inline-block;
	width: 200px;
	vertical-align: top;
}
.chart{
	display:inline-block;
}

.hidden{
	display:none;
}

.unclick{
	opacity: .5;
}

#prev{
	margin-left: auto;
	display: inline-block;
	height: 25px;
	width: 50px;
	background-position: center bottom;
	background-image: url(../images/backarrow.png);
	background-size: 100% 100%;
}

#next{
	margin-right: auto;
	display: inline-block;
	height: 25px;
	width: 50px;
	background-position: center bottom;
	background-image: url(../images/forwardarrow.png);
	background-size: 100% 100%;
}
.buttons{
	width: 120px;
	margin-right: auto;
	margin-left: auto;
}