extends layout

block content
  h1(id = "title") Externalities
  p Welcome to the Wonderful World of Externalities
  div(id = "negativebutton" class = "ebutton") Negative Externality
  div(id = "positivebutton" class = "ebutton") Positive Externality
  div(id = "description")
  div(class = "chart")
  br
  div(id = "buttons")
    div(id = "prev" class = "button unclick")
    div(id = "next" class = "button unclick")
