extends layout

block content
  h1(id = "title") Externalities
  p Welcome to the Wonderful World of Externalities
  div(id = "q1" class = "d3-tip")
  div(id = "ebuttons")
    div(id = "negativebutton" class = "ebutton") Negative Externality
    div(id = "positivebutton" class = "ebutton") Positive Externality
  br
  div(id = "description")
  div(class = "chart")
  br
  div(id = "buttons")
    div(id = "prev" class = "button unclick")
    div(id = "pause" class = "pause unclick")
    div(id = "next" class = "button unclick")
