extends layout

block content
  h1(id = "title") Externalities
  p Welcome to the Wonderful World of Externalities

  div(id = "description")
  div(class = "chart")
  div(id = "prev" class = "button") <-
  div(id = "next" class = "button") ->

