extends layout
block content
  head
    link(rel='stylesheet', href='/stylesheets/home.css')
  body
    h1(id = "heading") Economic Geography of Energy
    p So energy is like very important, and well geography rocks!
    p Economics not quite as much but we promise that we can make it fun to learn!
