doctype html
html
  head
    title= title
    script(src = "/javascripts/jquery-2.0.2.min.js")
    script(type="text/javascript", src="http://d3js.org/d3.v3.min.js")
    script(type="text/javascript", src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js")
body
    header
      nav
        ul
          li 
            a(href="/") Home
          li
            a(href = "/externality/") Externalities
          li
            a(href = "/resource_curse/") Resource Curse
          li
            a(href = "/comparative_advantage/") Comparative Advantage
    section#wrapper
        block content
            