doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src = "/javascripts/jquery-2.0.2.min.js")
    script(type="text/javascript", src="http://mbostock.github.com/d3/d3.js")
    script(type = "text/javascript", src = "/javascripts/second.js")
body
    header
      nav
        ul
          li 
            a(href="/") Home
    section#wrapper
        block content
            